:root{
  --red:#D2153D;
  --blue:#00215B;
  --text-color:#41444B;
}
@font-face {
  font-family: Lato;
  src: url(B:\iti react\iti-course\public\Lato-Bold.ttf);
}
@font-face {
  font-family: kanit;
  src: url(B:\iti react\iti-course\public\Kanit-Light.ttf);
}

.text-decoration-none{
  font-family: "kanit";
  font-size: 14px;
  color: var(--text-color);
}
.navlinks{
  color: var(--blue);
}
#basic-nav-dropdown{
  color: var(--blue);
}
.left-footer{
  background-color: var(--red);
  height: 300px;
  padding-left: 100px;
}
.right-footer{
  background-color: var(--blue);
  height: 300px;

}
.contact-info{
  color: white;
  line-height: 2rem;
}
.footer-links{
  padding-bottom:15px ;
}
.info-text{
  color: white;
}
.row-adjust{
  width: 900px;
}