:root {
  --red: #d2153d;
  --blue: #00215b;
  --text-color: #41444b;
}
@font-face {
  font-family: Lato;
  src: url(../public/Lato-Bold.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../public/Kanit-Light.ttf);
}

.text-decoration-none {
  font-family: "kanit";
  font-size: 14px;
  color: var(--text-color);
}
.navlinks {
  color: var(--blue);
}
#basic-nav-dropdown {
  color: var(--blue);
}
.left-footer {
  background-color: var(--red);
  height: 300px;
  padding-left: 100px;
}
.right-footer {
  background-color: var(--blue);
  height: 300px;
}
.contact-info {
  color: white;
  line-height: 2rem;
}
.footer-links {
  padding-bottom: 15px;
}
.info-text {
  color: white;
}
.row-adjust {
  width: 900px;
}
@media only screen and (max-width: 768px) {
  .right-footer {
    display: none;
  }
  .left-footer {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
  }
}
@media only screen and (max-width: 1250px) {
  .right-footer .last-text {
    display: none;
  }
  .right-footer .row-adjust {
    width: 100%;
  }
}
